@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    @using (Html.BeginForm("Create", "Meme", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <input type="text" name="text" id="text" />
        <input type="file" name="photo" id="photo" />
        <input type="submit" value="Upload" id="submit" class="btn btn-default" />
    }
</div>